.photo-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  grid-template-rows: repeat(3,  minmax(213px, 1fr));
  gap: 16px;
  padding: 96px 48px 0;
}


@media screen and (max-width: 1279px) {
  .photo-grid {
    gap: 14px;
  }
}

@media screen and (max-width: 1023px) {
  .photo-grid {
    gap: 16px;
    padding: 88px 24px 0;
  }
}

@media screen and (max-width: 767px) {
  .photo-grid {
    gap: 12px;
    padding: 64px 16px 0;
  }
}

@media screen and (max-width:425px) {
  .photo-grid {
    padding-top: 77px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}